#nav_items {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

#nav_items a {
	padding-right: 15px;
	font-color: rgb(27,0, 215);
}

#main {
	margin-top: 70px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#tip {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.headers {
	font-size: 30px;
}

h6 {
	font-style: italic;
	margin-top: 30px;
}

.directive {
	font-size: 40px;
	margin-top: 100px;
	margin-bottom: 30px;
}

#logo {
	margin-top: 10px;
}

#suggestion {
	margin-top: 20px;
	font-style: italic;
	font-size: 12px;
}

canvas {
	border: 1px solid black;
}

#flash {
	font-size: 20px;
	color: red;
	margin-top: 15px;
}

#id_building-suggestions { 
	border: 1px solid #999; 
	background: #FFF; 
	overflow: auto; 
}

#big_button {
	background: #56b661;
	border-radius: 0.3em;
	border-style: none;
	border-width: 1px;
	color: #fff;
	padding: 7px 15px 7px 15px;
	font-size: 15px;
	text-align: center;
}

#big_button:hover {
	background: #56c961;
	color: #fff;
}