{% extends "header.html" %}
{% block mainbody %}
<p id='tip'><b> Search using building abbreviations</b></p>
<table cellspacing="1" cellpadding="3" border="0" width="100%" valign="TOP">
    <tbody>
        <tr>
            <td class='headers'>
            <b>Building*</b>
            </td>
            <td class='headers'>
            	<b>Abbr</b>
            </td>
        </tr>
        <tr>
            <td valign="top">Bancroft Library</td>
            <td valign="top">BANCROFT LIB</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Horace A. Barker Hall</td>
            <td valign="top">BARKER</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">David Prescott Barrows Hall</td>
            <td valign="top">BARROWS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Stephan D. Bechtel Engineering Center</td>
            <td valign="top">BECHTEL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Sibley Auditorium (Bechtel)</td>
            <td valign="top">BECHTEL AUD</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Raymond Thayer Birge Hall</td>
            <td valign="top">BIRGE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Richard C. Blum Hall</td>
            <td valign="top">BLUM</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Boalt Hall, Law School</td>
            <td valign="top">BOALT</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Botanical Gardens</td>
            <td valign="top">BOT GARDEN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">California Hall</td>
            <td valign="top">CALIFORNIA</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Calvin Laboratory</td>
            <td valign="top">CALVIN LAB</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">William Wallace Campbell Hall</td>
            <td valign="top">CAMPBELL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">William Wallace Campbell Annex</td>
            <td valign="top">CAMPBELL ANX</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Channing Courts (Ellsworth Street)</td>
            <td valign="top">CHANNING CTS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Cesar E. Chavez Student Center</td>
            <td valign="top">CHAVEZ</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Earl F. Cheit Classroom Wing</td>
            <td valign="top">CHEIT</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Clarence Linus Cory Hall</td>
            <td valign="top">CORY</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Raymond Earl Davis Hall</td>
            <td valign="top">DAVIS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Doe (Main) Library</td>
            <td valign="top">DOE LIBRARY</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Donner Laboratory</td>
            <td valign="top">DONNER LAB</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Henry Durant Hall</td>
            <td valign="top">DURANT</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Durham Studio Theatre (Dwinelle)</td>
            <td valign="top">DURHAM THTRE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">John W. Dwinelle Hall</td>
            <td valign="top">DWINELLE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Dwinelle Hall Annex</td>
            <td valign="top">DWINELLE AN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Eshleman Hall</td>
            <td valign="top">ESHLEMAN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Bernard Alfred Etcheverry Hall</td>
            <td valign="top">ETCHEVERRY</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Griffith Conrad Evans Hall</td>
            <td valign="top">EVANS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">The Faculty Club</td>
            <td valign="top">FACULTY CLUB</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Foothill Residential Complex Building 1</td>
            <td valign="top">FOOTHILL 1</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Foothill Residential Complex Building 4</td>
            <td valign="top">FOOTHILL 4</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">David Gardner Stacks (Doe Library)</td>
            <td valign="top">GARDNERSTACK</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">A. P. Giannini Hall</td>
            <td valign="top">GIANNINI</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">William F. Giauque Hall</td>
            <td valign="top">GIAUQUE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Daniel Coit Gilman Hall</td>
            <td valign="top">GILMAN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Genetic and Plant Biology Building</td>
            <td valign="top">GPB</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Goldman School of Public Policy</td>
            <td valign="top">GSPP</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Haas School of Business Faculty Wing</td>
            <td valign="top">HAAS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Haas Pavilion</td>
            <td valign="top">HAAS PAVIL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Handball Courts (RSF)</td>
            <td valign="top">HANDBALL CTS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Jean Hargrove Music Library</td>
            <td valign="top">HARGROVE LIB</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">J. T. and Hannah N. Haviland Hall</td>
            <td valign="top">HAVILAND</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Hearst Field Annex</td>
            <td valign="top">HEARST ANNEX</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Hearst East Pool</td>
            <td valign="top">HEARST EPOOL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Phoebe Apperson Hearst Gymnasium</td>
            <td valign="top">HEARST GYM</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Hearst Memorial Mining Building</td>
            <td valign="top">HEARST MIN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Hearst Pool</td>
            <td valign="top">HEARST POOL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Hearst Gym Tennis Courts</td>
            <td valign="top">HEARSTGYMCTS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Phoebe Apperson Hearst Museum of Anthropology</td>
            <td valign="top">HEARSTMUSEUM</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Alfred Hertz Memorial Hall</td>
            <td valign="top">HERTZ</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Hesse Hall</td>
            <td valign="top">HESSE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Joel Henry Hildebrand Hall</td>
            <td valign="top">HILDEBRAND</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Hilgard Hall</td>
            <td valign="top">HILGARD</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">International House</td>
            <td valign="top">INTN'L HOUSE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Clark Kerr Campus Building 1</td>
            <td valign="top">KERR CAMPUS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Daniel E. Koshland Jr. Hall</td>
            <td valign="top">KOSHLAND</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Alfred L. Kroeber Hall</td>
            <td valign="top">KROEBER</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Wendell M. Latimer Hall</td>
            <td valign="top">LATIMER</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">John Lawrence LeConte Hall</td>
            <td valign="top">LECONTE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Gilbert N. Lewis Hall</td>
            <td valign="top">LEWIS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Lawrence Hall of Science</td>
            <td valign="top">LHS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Life Sciences Building Addition</td>
            <td valign="top">LSA</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">John McCone Hall</td>
            <td valign="top">MCCONE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">McEnerney Hall (1750 Arch Street)</td>
            <td valign="top">MCENERNEY</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Donald Hamilton McLaughlin Hall</td>
            <td valign="top">MCLAUGHLIN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">California Memorial Stadium</td>
            <td valign="top">MEMORIAL STD</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Ralph S. Minor Hall</td>
            <td valign="top">MINOR</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Ralph S. Minor Hall Addition</td>
            <td valign="top">MINOR ADDITN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Martin Luther King Student Union</td>
            <td valign="top">MLK ST UNION</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">James K. Moffitt Undergraduate Library</td>
            <td valign="top">MOFFITT</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Agnes Fay Morgan Hall</td>
            <td valign="top">MORGAN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">May T. Morrison Hall</td>
            <td valign="top">MORRISON</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Bernard Moses Hall</td>
            <td valign="top">MOSES</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Walter Mulford Hall</td>
            <td valign="top">MULFORD</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">North Gate Hall</td>
            <td valign="top">NORTH GATE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">O'Brien Hall</td>
            <td valign="top">OBRIEN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Off Campus</td>
            <td valign="top">OFF CAMPUS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Pacific Film Archive</td>
            <td valign="top">PAC FILM ARC</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Pauley Ballroom (ASUC)</td>
            <td valign="top">PAULEY</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Plant and Microbial Biology Greenhouse</td>
            <td valign="top">PB GREENHOUS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">George C. Pimentel Hall</td>
            <td valign="top">PIMENTEL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Zellerbach Playhouse</td>
            <td valign="top">PLAYHOUSE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Racquetball Courts (RSF)</td>
            <td valign="top">RAQBALL CTS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Recreational Sports Facility</td>
            <td valign="top">REC SPRT FAC</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Richmond Field Station 112</td>
            <td valign="top">RFS 112</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Recreational Sports Facility Field House</td>
            <td valign="top">RSF FLDHOUSE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Charles and Helen Soda Hall</td>
            <td valign="top">SODA</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">South Annex</td>
            <td valign="top">SOUTH ANNEX</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">South Hall</td>
            <td valign="top">SOUTH HALL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Spieker Aquatics Complex (RSF)</td>
            <td valign="top">SPIEKER POOL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Robert Gordon Sproul Hall</td>
            <td valign="top">SPROUL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Squash Courts (RSF)</td>
            <td valign="top">SQUASH CTS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Wendell Meredith Stanley Hall</td>
            <td valign="top">STANLEY</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Cornelius Vander Starr East Asian Library</td>
            <td valign="top">STARR LIB</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Stephens Hall</td>
            <td valign="top">STEPHENS</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Sutardja Dai Hall</td>
            <td valign="top">SUTARDJA DAI</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Tan Kah Kee Hall</td>
            <td valign="top">TAN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Tang Center (University Health Services)</td>
            <td valign="top">TANG CENTER</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Edward Chace Tolman Hall</td>
            <td valign="top">TOLMAN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">UC Berkeley Art Museum</td>
            <td valign="top">UCB ART MUSE</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Residence Hall Unit I Cheney</td>
            <td valign="top">UNIT I CHNY</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Residence Hall Unit I Christian</td>
            <td valign="top">UNIT I CHRST</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Residence Hall Unit I Central</td>
            <td valign="top">UNIT I CNTRL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Residence Hall Unit II Central</td>
            <td valign="top">UNIT II CNTL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Residence Hall Unit II Towle</td>
            <td valign="top">UNIT II TOWL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Residence Hall Unit II Wada</td>
            <td valign="top">UNIT II WADA</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Residence Hall Unit III Dining</td>
            <td valign="top">UNIT III DIN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">University Hall</td>
            <td valign="top">UNIV HALL</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Valley Life Sciences Building</td>
            <td valign="top">VALLEY LSB</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Harry Richard Wellman Hall</td>
            <td valign="top">WELLMAN</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Wellman Courtyard Trailers</td>
            <td valign="top">WELLMAN CRT</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Benjamin Ide Wheeler Hall</td>
            <td valign="top">WHEELER</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">William W. and Catherine Bauer Wurster Hall</td>
            <td valign="top">WURSTER</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
        <tr>
            <td valign="top">Mr. &amp; Mrs. Isadore Zellerbach Hall</td>
            <td valign="top">ZELLERBACH</td>
        </tr>
        <tr>
            <td colspan="2"><img height="1" width="100%" alt="" src="/graphs/litb.gif" /></td>
        </tr>
    </tbody>
</table>

<h6>*This building list belongs to UC Berkeley and can be found <a href='http://registrar.berkeley.edu/Default.aspx?PageID=bldgabb.html' target='_blank'>here</a></h6>

{% endblock %}