{% extends "header.html" %}
{% block mainbody %}
<p class='directive'> I want a room in...</p>
<form action='/' method='POST'>{% csrf_token %}
	{{ form.as_table }}
	<input type='submit' value='Go!' id='big_button'>
</form>
<ul id='main_ul'>
	{% for room, times in rooms.items %}
		<ul name='{{ room }}'>{{ room }}
		{% for time in times %}
			<li data-day='{{ time.day }}' data-ap='{{ time.ap }}'>{{ time.time }}</li>
		{% endfor %}
		</ul>
		<br>
	{% endfor %}
</ul>
	<div id='canvii_container'>
	{% for room, times in rooms.items %}
		<canvas name='{{ room }}'></canvas>
	{% endfor %}
	</div>
<script src='{{ STATIC_URL }}clock.js'></script>
{% endblock %}