{% extends "header.html" %}
{% block mainbody %}
<p class='directive'> I want a room in...</p>
<div class='ui-widget'>
	<form action='/' method='POST'>{% csrf_token %}
		{{ form.as_table }}
		<input type='submit' value='Go!' id='big_button'>
	</form>
</div>
<ul id='main_ul'>
	{% for room, times in rooms.items %}
		<ul name='{{ room }}'>{{ room }}
		{% for time in times %}
			<li data-day='{{ time.day }}' data-ap='{{ time.ap }}'>{{ time.time }}</li>
		{% endfor %}
		</ul>
	{% endfor %}
</ul>
<p id='suggestion'>Use any combination of inputs</p>
<div id='flash'>
</div>
	<div id='canvii_container'>
	{% for room, times in rooms.items %}
		<canvas name='{{ room }}'></canvas>
	{% endfor %}
	</div>
	<div id='flash'>
	</div>
<script src='{{ STATIC_URL }}clock.js'></script>
{% endblock %}